@charset "utf-8";
/* CSS Document */

/*　全体 */
*{
	color: #707070;
    margin: 0;
}
p{
	font-size:16px;
	line-height:1.6;
	text-decoration: none;	
}


/*　左右の余白 */
.container {
	max-width: 1004px;
	margin: 0 auto;
}
/* レスポンシブ */
@media (max-width: 1004px) { 
  .container {
    max-width: 768px;
	margin: 0 auto;
  }
}
@media (max-width: 768px) { 
  .container {
    max-width: 480px;
	margin: 0 auto;
  }
}
@media (max-width: 480px) { 
  .container {
	max-width: 302px;
	margin: 0 auto;
 }
}


/*　h2 */
.title-wrap {
    display: flex;
    align-items: center; /* 上下中央揃え */	
}
h2.ttl {
    font-family: 'Tw Cen MT', 'Arial Rounded MT Bold', 'Avenir Next', 'Poppins', sans-serif;
    font-weight: 400; 
    color: #9CD1AB;    
    font-size: 56px;
    text-align: left;
    margin-right: 10px; /* 文字間の余白を調整 */
}
h2.ttl_jp {
    font-family: 'Zen Kaku Gothic New';
    font-weight: 400;
    color: #9CD1AB;    
    font-size: 16px;
    text-align: left;
}


/* ヘッダー */
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
header {
    width: 100%;
    height: 96px;
	animation: slideDown 0.5s ease-out;
}
.header_wrap {
    width: 100%; 
	height: 96px;
    max-width: 1004px; /* 中央の最大幅を制限 */
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* ロゴを左端、ナビを右端に配置 */
    align-items: center; /* 上下中央揃え */
}
.ico_saimu img { /* ヘッダーロゴ */
    height: 42px; 
}
/* レスポンシブ */
@media (max-width: 480px) {
  header { /* 高さ調整 */
    width: 100%;
    height: 122px;
  }
  .header_wrap {
    width: 100%; 
	height: 122px;
    max-width: 350px;  
    display: flex;
    flex-direction: column; /* ロゴを上、ナビを下に */
	justify-content: center; /* 上下中央配置 */
	align-items: flex-end; /* 左寄せ */
	gap: 8px;
 }
}


/* フッター */
footer {
    width: 100%;
    height: 216px;
}
.footer_wrap {
    width: 100%; 
	height: 240px;
    max-width: 1004px; /* 中央の最大幅を制限 */
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* ロゴを左端、ナビを右端に配置 */
    align-items: center; /* 上下中央揃え */
}
.ico_saimu_big { /* フッターロゴ・コピーライト */
    height: 95px; 
	font-family: 'Tw Cen MT', 'Arial Rounded MT Bold', 'Avenir Next', 'Poppins', sans-serif;
	transition: transform 0.3s ease-in-out; /* なめらかに変化 */
}
.ico_saimu_big:hover { /* アイコンホバー時 */
    transform: scale(1.1); /* 10%拡大 */
}
.copyright {
	font-family: 'Tw Cen MT';
    color: #D7D7D7;
    font-size: 16px;
}
/* レスポンシブ */
@media (max-width: 768px) {
  footer { 
    width: 100%;
    height: 192px;
  }
  .footer_wrap {
    width: 100%; 
	height: 192px;
    max-width: 350px;  
    display: flex;
    flex-direction: column; /* ロゴを上、ナビを下に */
	flex-direction: column-reverse; /* ロゴとナビの位置逆転 */
	gap: 40px 0;
    padding: 40px 0;
 }
  .ico_saimu_big { /* ヘッダーロゴ */
	width: 111.24px;
	height: 42.15px;
 }
}


/* ナビゲーション */
nav ul {
    list-style: none;
    display: flex;
    gap: 40px; /* ナビゲーション間隔 */
    margin: 0;
    padding: 0;
}
nav ul li a {
    text-decoration: none;
    font-family: 'Tw Cen MT', 'Arial Rounded MT Bold', 'Avenir Next', 'Poppins', sans-serif;
    color: #9CD1AB;
        font-size: 20px;
    transition: transform 0.3s ease, color 0.3s ease, letter-spacing 0.3s ease; /* スムーズな変化をつける */
}
/*　ホバー・マーク */
nav ul li a:hover {
    transform: scale(1.1); /* ちょっと大きくなる */
    color: #4C9D70; /* ホバー時に色が変わる */
    letter-spacing: 1px; /* 文字間隔が広がる */
}
.mark {
	border-bottom: solid 4px #9CD1AB;
}










