@charset "utf-8";
/* CSS Document */

/* アニメーション定義 */
/* 上にスライドするアニメーション */
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px); /* 画面外から上にスライドしてくる */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* 元の位置に戻る */
  }
}
.content { /* 初期状態 */
  opacity: 0;
  transform: translateY(30px); /* 初期状態では見えない */
  transition: opacity 2s ease, transform 2s ease; /* 2秒でアニメーション */
}
.content.fade-in {/* アニメーション適用時 */
  animation: slideUp 2s ease forwards; /* 上にスライドするアニメーション */
}

/* ページ外リンクのアニメーション */
.fade-out {
  opacity: 0;
  transition: opacity 1s ease; /* 1秒でフェードアウト */
}
.fade-in {
  opacity: 1;
  transition: opacity 1s ease; /* 1秒でフェードイン */
}
body { /* 初期状態 */
  opacity: 1;
  transition: opacity 1s ease;
}

/* ページ内リンク用（スムーズスクロール） */
html {
  scroll-behavior: smooth; /* スムーズスクロール */
}

/* トップビューアニメーション*/
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px); /* 30px下から */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* 元の位置 */
  }
}



/* トップビュー */
.flex_wrap { /* 作品名・種類を横並びレイアウト */
	display: flex;
	justify-content: flex-start;
	align-items: center;
    margin: 50px 0 14px;
}
.img_wrap { /* トップ画像サイズ */
	width: 100%;
    height: 409px; /* デフォルトの高さ */
    overflow: hidden; /* はみ出た部分を非表示 */
}
.img_wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* アスペクト比を維持しつつ、指定サイズに収める */
    object-position: center; /* 画像の中央を基準にトリミング */
	/* アニメーション*/
	opacity: 0; /* 最初は見えない */
    animation: fadeInUp 1.5s ease-out forwards; /* 1.5秒でフェードイン */
}
/* フォント */
.works_ttl {
	font-family: 'Zen Kaku Gothic New';
    font-weight: 500;
    color: #707070;    
    font-size: 30px;
	letter-spacing: 0.1em;
	margin-right: 16px;
}
.subject {
	font-family: 'Zen Kaku Gothic New';
    color: #707070;    
    font-size: 14px;
}
.works_text {
	font-family: 'Zen Kaku Gothic New';
    color: #707070;    
    font-size: 16px;
	letter-spacing: 0.1em;
	line-height: 30px;
}
 /* レスポンジブ */
@media (max-width: 768px) {
	.flex_wrap { /* 作品名・種類を縦並びレイアウト */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
    }	
}
@media (max-width: 480px) {
    .img_wrap {
    width: 320px;
    height: 256px;
    }
	.works_ttl {  /* 作品名フォントサイズ */
    font-size: 24px;
    }
	.flex_wrap { /* 作品名・種類を縦並びレイアウト */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
    }	
}


/* メインビュー */
.main_view {
	margin: 160px auto 48px;
	text-align: center;
	max-width: 100%; 
}
.main_view img {
    max-width: 100%; /* 親要素に合わせて縮小 */
    height: auto; /* 縦横比を維持 */
    transition: transform 0.3s ease-in-out;/* ちょっと浮かせる */
}
.main_view img:hover {
  transform: translateY(-10px); /* ちょっと浮かせる */
}


/* 説明欄 */
.text_view {
	max-width: 679px; /* 幅679pxで左寄せ・最大幅を指定 */
    width: 100%; /* 画面幅に応じて調整 */
	margin: 0 auto;	
	display: flex;
	justify-content: flex-start;
}
.flex_colum { /* タテ並びレイアウト */
	display: flex;
	flex-direction: column;
	gap: 56px 0;	
}
h4.sub_ttl { /* テキスト */
	font-family: 'Zen Kaku Gothic New';
    color: #707070;    
    font-size: 16px;
	margin-bottom: 8px;
}
.text { /* テキスト */
	font-family: 'Zen Kaku Gothic New';
    color: #707070;    
    font-size: 16px;
	line-height: 30px;
}
/* レスポンシブ */
@media (max-width: 480px) {
    .flex_colum {
        justify-content: center; 
    }
}

/* other */
.other_view {
	background-color: #E4E4E4;
	width: 100%;
    padding: 80px 0 112px;
	display: flex;
	align-items: center;
	margin-top: 104px;
}
.flex_space-between { /* 2カラム */
	max-width: 760px;
    width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 24px 0;
	margin-top: 16px;
}
.flex_space-between a img {/* ホバー時設定 */
  transition: transform 0.3s ease-in-out;
}
.flex_space-between a:hover img {
  transform: scale(1.1); /* ホバー時1.1倍に拡大 */
}

/* レスポンシブ */
@media (max-width: 768px) {
    .flex_space-between { /* 1カラム */
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 16px 0;
    }	
	.flex_space-between a img {/* 画像を左右中央に */
    	width: 100%;
    	height: auto;
  }
}






